td {
    font-size: 24pt;
    width: 40px;
    height: 40px;
}

button {
    font-size: 24pt;
    width: 40px;
    height: 40px;
}

.cell {
    border: 1px solid black;
    text-align: center;
}

.correct {
    background-color: green;
}